@use "base";
@import "../assets/css/reset.css";


// bmi-header section

.bmi-header {
    position: relative;
    height: 70vh;
    min-height: 700px;

    @include base.tablet {
        min-height: 600px;
    }

    @include base.mobile {
        height: 80vh;
        min-height: 800px;
    }

    .bmi-intro {
        width: 70%;
        height: 100%;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;

        background: base.$gradient-header-card;

        @include base.tablet {
            width: 100%;
            height: 70%;
            display: flex;

            flex-direction: column;
            align-items: center;
        }

        @include base.mobile {
            width: 100%;
            height: 70%;
            display: flex;

            flex-direction: column;
            align-items: center;
        }

        .bmi-intro-icon {
            display: inline-block;
            background-image: url("../assets/images/logo.svg");
            background-repeat: no-repeat;
            height: 64px;
            width: 64px;

            margin: 5% 0% 0% 10%;

            @include base.tablet {
                display: inline-block;
                height: 40px;
                width: 40px;

                background-size: contain;
                margin: 5%;
            }

            @include base.mobile {
                display: inline-block;
                height: 40px;
                width: 40px;

                background-size: contain;
                margin: 5%;
            }
        }


        .bmi-intro-text {
            width: 60%;
            margin: 10% 30% 0% 10%;

            @include base.tablet {
                width: 80%;
                margin: 0;
                text-align: center;
            }

            @include base.mobile {
                width: 80%;
                margin: 0;
                text-align: center;
            }

            >h1 {
                @include base.heading-xl;
                color: base.$color-gunmetal;
                margin: 0% 0% 5% 0%;

                @include base.tablet {
                    @include base.heading-l;
                    text-align: center
                }

                @include base.mobile {
                    @include base.heading-l;
                    text-align: center
                }
            }

            >p {
                @include base.body-text-small;
                color: base.$color-dark-electric-blue;
                width: 80%;

                @include base.tablet {
                    width: 100%;
                }

                @include base.mobile {
                    width: 100%;
                }
            }
        }
    }

    // calculator card
    .bmi-inputs {
        position: absolute;
        top: 20%;
        right: 7%;
        width: 40%;

        border-radius: 16px;
        background-color: base.$color-pure-white;
        box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);

        @include base.tablet {
            top: 350px;
            width: 80%;
            right: 50%;
            transform: translateX(50%);
        }

        @include base.mobile {
            top: 400px;
            width: 80%;
            right: 50%;
            transform: translateX(50%);
        }

        .form-container {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            padding: 5%;

            >h2 {
                @include base.heading-m;
                margin: 0;
            }

            .radio-group {
                display: flex;

                >.form-radio {
                    display: flex;
                    gap: 18px;
                    flex: 1;

                    align-items: center;

                    >input[type="radio"] {
                        font: inherit;
                        color: base.$color-blue;
                        width: 1.15em;
                        height: 1.15em;
                        border: 0.15em solid base.$color-blue;
                    }

                    >label {
                        margin-top: 3px;
                        font-size: base.$font-size-body;
                        font-weight: base.$font-weight-semibold;
                    }
                }
            }

            #metric-data {
                display: flex;
                gap: 5%;

                @include base.mobile {
                    flex-direction: column;
                    gap: 16px;
                }

                >.input-group {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    >label {
                        @include base.form-input-label;
                    }

                    >.input-container {
                        @include base.form-input-container;
                    }
                }
            }

            #imperial-data {
                display: flex;
                flex-direction: column;
                gap: 18px;

                .imperial-data-group {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    >label {
                        @include base.form-input-label;
                    }

                    >.imperial-input-group {
                        display: flex;
                        gap: 5%;

                        >.input-container {
                            @include base.form-input-container;
                        }
                    }
                }
            }

            .result-container {
                color: base.$color-pure-white;
                background: base.$gradient-bmi-result;
                padding: 32px;

                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;

                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;

                >.result-header {
                    @include base.heading-m;
                }

                >.result-value {
                    margin-top: 8px;
                    @include base.heading-l;
                }

                >.result-explanation {
                    margin-top: 20px;
                    @include base.body-text-small;
                }

            }
        }
    }
}




// bmi result section

.bmi-result {
    height: 60vh;
    min-height: 533px;
    margin: 50px 5% 0px 5%;

    display: flex;
    gap: 10%;
    align-items: center;

    position: relative;

    @include base.tablet {
        margin: 0 5%;
        height: 50vh;
        min-height: 400px;
    }

    @include base.mobile {
        height: auto;
        margin: 200px 0px 0px 0px;
        flex-direction: column;
        gap: 48px;

        align-items: unset;
    }

    .bmi-result-text {
        width: 45%;

        @include base.mobile {
            width: unset;
            margin: 0px 24px;
        }

        >h2 {
            @include base.heading-l;

            @include base.tablet {
                font-size: 32px;
            }

            @include base.mobile {
                font-size: 32px;
            }
        }

        >p {
            @include base.body-text-small;
            color: base.$color-dark-electric-blue;
            margin-top: 35px;
        }
    }

    .bmi-result-pic {
        flex-shrink: 0;

        height: 100%;
        width: 45%;

        background-image: url('../assets/images/image-man-eating.webp');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include base.mobile {
            height: 400px;
            width: 100%;
        }
    }

    .result-vector {
        width: 85px;
        height: 200px;
        background-image: url('../assets/images/pattern-curved-line-left.svg');
        background-size: contain;

        position: absolute;

        top: -38px;
        left: 90%;

        @include base.tablet {
            display: none;
        }

        @include base.mobile {
            display: none;
        }
    }
}

// health-tips
.health-tips {

    min-height: 400px;
    margin: 100px 1% 0px 1%;
    display: flex;
    align-items: center;
    gap: 2%;

    padding-left: 4%;
    padding-right: 4%;

    background: base.$gradient-header-card;
    border-radius: 35px;

    @include base.tablet {
        flex-direction: column;
        gap: 40px;

        margin: 0;
        border-radius: 0px;
        padding: 60px 40px;

        min-height: 300px;
    }

    @include base.mobile {
        flex-direction: column;
        gap: 40px;

        margin: 50px 0px 0px 0px;
        border-radius: 0px;
        padding: 60px 40px;

        min-height: 300px;
    }

    .tip {
        flex: 1;
        display: flex;
        flex-direction: column;

        @include base.tablet {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }

        >.tip-text {
            margin-top: 45px;

            @include base.tablet {
                margin-top: 0;
            }

            @include base.mobile {
                margin-top: 32px;
            }

            >h3 {
                @include base.heading-m;
            }

            >p {
                @include base.body-text-small;
                color: base.$color-dark-electric-blue;
                margin-top: 20px;
            }
        }

        .health-eating-icon {
            flex: 0 0 auto;
            height: 64px;
            width: 64px;
            background-image: url('../assets/images/icon-eating.svg');
            background-repeat: no-repeat;
        }

        .regular-exercise-icon {
            flex: 0 0 auto;
            height: 64px;
            height: 64px;
            width: 64px;
            background-image: url('../assets/images/icon-exercise.svg');
        }

        .adequate-sleep-icon {
            flex: 0 0 auto;
            height: 64px;
            width: 64px;
            background-image: url('../assets/images/icon-sleep.svg');
        }
    }
}

// limitations of bmi

.bmi-limitations-container {

    margin: 100px 5% 130px 5%;
    min-height: 700px;

    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    position: relative;

    @include base.tablet {
        gap: 15px;
        justify-content: center;
    }

    @include base.mobile {
        gap: 15px;
        justify-content: center;
    }

    .limitation-header {
        width: 40%;
        display: flex;
        flex-direction: column;

        @include base.tablet {
            width: 100%;
        }

        @include base.mobile {
            width: 100%;
            margin-bottom: 50px;
        }

        >h2 {
            @include base.heading-l;

            @include base.tablet {
                font-size: 32px;
                text-align: center;
            }

            @include base.mobile {
                font-size: 32px;
                text-align: center;
            }
        }

        >p {
            @include base.body-text-small;
            color: base.$color-dark-electric-blue;

            margin-top: 35px;

            @include base.tablet {
                text-align: center;
                margin-top: 30px;
            }

            @include base.mobile {
                text-align: center;
                margin-top: 30px;
            }
        }
    }

    .limitation {
        display: flex;
        flex-direction: column;
        gap: 15px;

        padding: 32px;
        border-radius: 16px;

        box-shadow: 16px 32px 56px rgba(143, 174, 207, 25%);
        background-color: base.$color-pure-white;

        @include base.desktop {
            width: 25%;

            &:nth-child(2) {
                margin-left: 10%;
                margin-right: 130px;
            }

            &:nth-child(3) {
                margin-left: 30%;
            }

            &:nth-child(5) {
                margin-left: 15%;
            }
        }

        @include base.tablet {
            width: 40%;
        }

        >.title {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        h3 {
            @include base.heading-s
        }

        p {
            @include base.body-text-small;
            color: base.$color-dark-electric-blue;
        }

        .gender-icon {
            height: 32px;
            width: 32px;
            background-image: url('../assets/images/icon-gender.svg');
        }

        .age-icon {
            height: 32px;
            width: 32px;
            background-image: url('../assets/images/icon-age.svg');
        }

        .muscle-icon {
            height: 32px;
            width: 32px;
            background-image: url('../assets/images/icon-muscle.svg');
        }

        .pregnancy-icon {
            height: 32px;
            width: 32px;
            background-image: url('../assets/images/icon-pregnancy.svg');
        }

        .race-icon {
            height: 32px;
            width: 32px;
            background-image: url('../assets/images/icon-race.svg');
        }
    }

    .limitation-vector {
        width: 94px;
        height: 122px;
        background-image: url('../assets/images/pattern-curved-line-right.svg');
        background-size: contain;

        position: absolute;
        top: 35%;
        left: 14%;

        @include base.tablet {
            display: none;
        }

        @include base.mobile {
            display: none;
        }
    }
}