@import "../assets/css/reset.css";
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
body {
  font-family: "Inter";
}

.bmi-header {
  position: relative;
  height: 70vh;
  min-height: 700px;
}

.bmi-intro {
  width: 70%;
  height: 100%;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background: linear-gradient(to bottom right, #FFFFFF, #D6E6FE 90%);
}

.bmi-intro-icon {
  display: inline-block;
  background-image: url("../assets/images/logo.svg");
  background-repeat: no-repeat;
  height: 64px;
  width: 64px;
  margin: 5% 0% 0% 10%;
}

.bmi-intro-text {
  width: 60%;
  margin: 10% 30% 0% 10%;
}

.bmi-intro-text > h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  color: #253347;
  margin: 0% 0% 5% 0%;
}

.bmi-intro-text > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
  width: 80%;
}

.bmi-inputs {
  position: absolute;
  top: 20%;
  right: 7%;
  width: 40%;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(143, 174, 207, 0.5);
}

.bmi-inputs-container {
  padding: 5%;
}

.bmi-inputs-container > h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  margin: 0;
}

.form-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.radio-group {
  display: flex;
}

.radio-group > .form-radio {
  flex: 1;
}

.data-group {
  display: flex;
  gap: 5%;
}

.data-group > .input-group {
  flex: 1;
}

.form-radio {
  display: flex;
  gap: 18px;
  align-items: center;
}

.form-radio > input[type=radio] {
  font: inherit;
  color: #345FF6;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #345FF6;
}

.form-radio > label {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group > label {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}

.input-group > input {
  border-radius: 12px;
  border: 1px solid #D8E2E7;
  height: 50px;
}

.input-group > input::placeholder {
  font-size: 24px;
  font-weight: 600;
  color: #345FF6;
  text-align: right;
}

#imperial-data {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.imperial-data-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imperial-data-group > label {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}

.imperial-input-group {
  display: flex;
  gap: 5%;
}

.imperial-input-group > input {
  border-radius: 12px;
  border: 1px solid #D8E2E7;
  height: 50px;
  flex: 1;
}

.imperial-input-group > input::placeholder {
  font-size: 24px;
  font-weight: 600;
  color: #345FF6;
  text-align: right;
}

.result-container {
  color: #FFFFFF;
  background: linear-gradient(to right, #345FF6, #587DFF);
  padding: 32px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.result-container > h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
}

.result-container > p {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

/*# sourceMappingURL=style.css.map */
